<mat-toolbar color="primary" style="width: 100%">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)=drawer.toggle()>
    <mat-icon>menu</mat-icon>
  </button>
  <span>InherIT - {{username}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="Home" (click)="redirectHome()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Upload Project" (click)="uploadProject()">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Logout" (click)=logout()>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer matDrawerMode="over" position="start" mode="side">
    <mat-label class = "mat-label-class">Name : {{username}}</mat-label>

    <mat-label  class = "mat-label-class">Student ID - {{studentId}}</mat-label>

    <mat-label  class = "mat-label-class">Academic Year - {{year}}</mat-label>

    <mat-label  class = "mat-label-class">Department - {{ghusername}}</mat-label>

    <mat-label  class = "mat-label-class">Mobile number - {{mobileno}}</mat-label>

  </mat-drawer>


  <mat-drawer-content>
    <div style="display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(3, 1fr);">
      <!-- <mat-card *ngFor="let product of itemList" class="example-card hover:bg-red-700">
        <mat-toolbar class="flex-wrap shadow " color="primary" style="height: min-content;">
          <mat-card-title style="font-size: medium; width: 100%;">{{product.title}}</mat-card-title>
        </mat-toolbar>
        <mat-card-content>
          <p>
            {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-footer align="center">
            <button mat-button class="button-class s-button" (click)="openDialog(product.projectId)"> View </button>
          <span>&nbsp; &nbsp; &nbsp;</span>
            <button mat-button color="primary" class="button-class " (click)="redirect(product.projectId)"> Select </button>
        </mat-card-footer>
      </mat-card> -->
      <mat-card *ngFor="let product of itemList" style="box-sizing: border-box; margin: 10px; padding: 30px">
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-content>{{product.description.slice(0, 100) + ".."}}</mat-card-content>
        <mat-chip-list #chipList aria-label="Fruit selection" >
          <mat-chip *ngFor="let tool of product.languagesUsed" [selectable]="selectable">
            {{tool}}
          </mat-chip>
        </mat-chip-list>
        <mat-card-actions style="margin: 4px; margin-top: 7px">
          <button mat-button class="button-class s-button" (click)="openDialog(product.projectId)"> View</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



