.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: min-content;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;

  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.input-board {
  position: relative;
  display: flex;
  height: 92vh;
}

.project-card {
  height: 85vh;
  width: 50vw;
  position: absolute;
  left: 25%;
  top: 5%;
  border: #0a0118 solid 1px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
  //background: #37d5d6;
}
.title {
  min-height: 7%;
  background: #673ab7;
  color: white;
  text-align: center;
  padding-top: 0.5%;
}
.input-form {
  position: absolute;
  top: 10%;
  left: 10%;
}
.type-field {
  min-height: 10%;
  min-width: 80vh;
}

textarea {
  resize: horizontal;
}

.uploadfilecontainer {
  background-image: url("../../assets/uploadimg.jpeg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-color: #f6f6f6;
  height: 20vh;
  width: 50%;
  margin: auto;
  border: 2px dashed #673ab7;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-origin: border-box;
  opacity: 0.8;
}

.files-list {
  display: inline-block;
  justify-content: center;
  width: 80%;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  background: white;
  border: 1px dashed;
  border-radius: 12px;
  margin: auto;
  color: #673ab7;
}

.files-list .delete-file {
  background: white;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 15px;
}

.spilt-page {
  display: flex;
}

