<div class="container ">
  <div id="left" class="left ">
    <div id="lcard" class="left-card">
      <h1>InherIt</h1>
      <img src="../../assets/logo.png">
      <br>
      <span>Already have account ?</span>
      <br><br>
      <mat-card-actions>
        <button mat-raised-button (click)="signin()" align="center" style="font-weight: bold; color: #36096d">Sign in
        </button>
      </mat-card-actions>
    </div>
    <form id="lform" class="example-form ">
      <h1 style="font-weight: bolder;"> Sign In </h1><br>
      <table class="example-full-width" cellspacing="2">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                     required>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions>
        <a (click)="forgetpassword()" color="black" align="center"
           style="cursor : pointer"><span>Forgot your password?</span></a>
      </mat-card-actions>
      <br>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary" align="center">Login</button>
      </mat-card-actions>
    </form>
  </div>
  <div id="right" class="right">
    <div id="rcard" class="right-card">
      <h1>InherIt</h1>
      <img src="../../assets/logo.png"><br>
      <span>New User? Sign Up.</span><br><br>
      <mat-card-actions>
        <button mat-raised-button (click)="signup()" align="center" style="font-weight: bold; color: #36096d">Sign Up
        </button>
      </mat-card-actions>
    </div>
    <form id="rform" class=" signup-form ">
      <h1 style="font-weight: bolder;"> Sign Up </h1>
      <table class="example-full-width" cellspacing="2">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Student Id" [(ngModel)]="studentid" name="studentId" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Github Username" [(ngModel)]="ghusername" name="githubUsername" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile No" [(ngModel)]="mobileno" name="mobileno" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Select Department</mat-label>
              <mat-select [(value)]="dept" required>
                <mat-option *ngFor="let department of departments" [value]="department">
                  {{department}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Select Year</mat-label>
              <mat-select [(value)]="academicyear" required>
                <mat-option *ngFor="let year of years" [value]="year">
                  {{year.roman}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!--            <mat-error *ngIf="departmentControl.hasError('required')"-->
            <!--            >Please choose a department-->
            <!--            </mat-error>-->
          </td>
        </tr>
      </table>
      <br>
      <mat-card-actions>
        <button mat-raised-button (click)="regsiter()" color="primary" align="center">Create Account</button>
      </mat-card-actions>
    </form>
  </div>
</div>

