<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)=drawer.toggle()>
    <mat-icon>menu</mat-icon>
  </button>
  <span>InherIT</span>
  <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="Upload Project">
    <mat-icon>cloud_upload</mat-icon>

  </button>
  <button mat-icon-button matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
<div class="dashboard">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-icon>menu</mat-icon>
      <br><br>
      <mat-icon>logout</mat-icon>
      <br><br>
      <mat-icon>logout</mat-icon>
      <br><br>
      <mat-icon>logout</mat-icon>
      <br><br>
    </mat-drawer>
  </mat-drawer-container>

  <div class="card-group" (ngModel)="itemList">
    <mat-card *ngFor="let product of itemList" class="example-card">
      <mat-toolbar class="flex-wrap shadow">
        <mat-card-title>Project - {{product.title}}</mat-card-title>
      </mat-toolbar>
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
      <tr>
        <td><button mat-raised-button color="primary" class = "v-button" (click)="openDialog()">View Project</button></td>
        <td><span> &nbsp;  &nbsp;  &nbsp;</span></td>
        <td><button mat-raised-button color="primary" class = "v-button">Select Project</button></td>
      </tr>
    </mat-card>
  </div>

</div>



