.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: min-content;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.dashboard {
  display :flex;
}
.example-card {
  max-width: 400px;
  height: 350px;
  display:grid;

}
.card-group {
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: auto;
  padding : 5px;
  display: grid;
  grid-template-columns: repeat(4,390px);
  grid-gap: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

