.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: min-content;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;

  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.dashboard {
  display :flex;
}
.example-card {
  height: 300px;
  display:grid;
  width :350px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
}
.card-group {
  //background-image: url("../../assets/background4.jpg");
  //background-size: 1700px 800px;
  //background-repeat: no-repeat;
  align-items: center;
  min-height: 92vh;
  justify-content: center;
  justify-items: center;
  width: 100%;
  display: grid;
  //padding: 1px;
  grid-template-columns: repeat(4,400fr);
  grid-gap: 2px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.v-button {
  height:40px;
  width: min-content;
;
}
